asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
conda==4.5.11
cryptography==2.3.1
cycler==0.10.0
idna==2.6
kiwisolver==1.0.1
matplotlib==3.0.2
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.4
Pillow==5.3.0
pocketsphinx==0.1.15
PyAudio==0.2.11
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.3.0
PySocks==1.6.7
python-dateutil==2.7.5
requests==2.19.1
ruamel-yaml==0.15.46
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
torch==1.0.0.dev20181108
torch-nightly==1.0.0.dev20181107
torchaudio==0.1
torchvision-nightly==0.2.1
tqdm==4.28.1
urllib3==1.22
webrtcvad==2.0.10
